/* Importação da Font */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

/* Global formatting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e9ebee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Sora", sans-serif;
}

/* Modal de erro */
.container-message-error {
  margin: auto;
  border: none;
  border-radius: 5px;
  max-width: 350px;
}

.container-erro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container-message-error::backdrop {
  background-color: rgba(0, 0, 0, 0.35);
}

#close-modal {
  font-family: "Sora", sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #9526a9;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  border-radius: 5px;
  font-size: 1.2rem;
}

.error-type {
  margin: 0.5rem 0 1rem 0;
  text-align: center;
}

/* Containers de Login e Registro */
.login-container,
.register-container {
  width: 50%;
}

.container {
  width: 80%;
  margin: auto;
  padding: 1rem;
  height: 100%;
}

.container-smaller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 3rem;
}

/* Login */
.login-container {
  float: left;
  background-color: #fafafa;
  height: 100%;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
.login-container h1 {
  margin-bottom: 40px;
  font-size: 2.5em;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 30px;
  border: none;
  background-color: #eeeeef;
  font-size: 1.2rem;
}

.login-container a {
  float: right;
  text-decoration: none;
  color: #000;
  transition: 0.3s all ease-in-out;
}

.login-container button {
  width: 75%;
  margin: 30px 0;
  padding: 10px;
  border: none;
  background-color: #9526a9;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Sora", sans-serif;
}

.login-container button:hover,
#close-modal:hover {
  transform: scale(1.05);
}

.login-container button:active {
  transform: scale(0.95);
}

.login-container .copyright {
  display: inline-block;
  float: none;
}

/* Register style */
.register-container {
  float: right;
  background-image: linear-gradient(135deg, #23212f 5%, #9526a9 95%);
  height: 100%;
  color: #fff;
  border-radius: 0 10px 10px 0;
  text-align: center;
}

.register-container h2 {
  margin: 30px 0;
  font-size: 50px;
  letter-spacing: 3px;
}

.register-container p {
  font-size: 18px;
  margin-bottom: 30px;
}

.register-container button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
  font-family: "Sora", sans-serif;
}

.register-container button:hover {
  color: #9526a9;
  background-color: #fff;
  cursor: pointer;
}
